{
    "fvTenant": {
        "attributes": {
            "descr": "{{ Tenant }} VRF",
            "dn": "uni/tn-{{ Tenant }}",
            "name": "{{ Tenant }}",
            "nameAlias": "{{ Alias }}"
        },
        "children": [
            {
                "fvBD": {
                    "attributes": {
                        "name": "APP{{ AppID }}_{{ Tier }}_Vlan{{ Vlan }}-BD",
                        "nameAlias": "{{ Subnet }}",
                        "OptimizeWanBandwidth": "no",
                        "arpFlood": "no",
                        "epClear": "no",
                        "intersiteBumTrafficAllow": "no",
                        "intersiteL2Stretch": "no",
                        "ipLearning": "yes",
                        "limitIpLearnToSubnets": "yes",
                        "llAddr": "::",
                        "mac": "00:22:BD:F8:19:FF",
                        "mcastAllow": "no",
                        "multiDstPktAct": "bd-flood",
                        "type": "regular",
                        "unicastRoute": "yes",
                        "unkMacUcastAct": "proxy",
                        "unkMcastAct": "flood",
                        "vmac": "not-applicable"
                    },
                    "children": [
                        {
                            "fvSubnet": {
                                "attributes": {
                                    "ip": "{{ Gateway }}/{{ CIDR }}",
                                    "preferred": "no",
                                    "scope": "public",
                                    "virtual": "no"
                                },
                                "children": [
                                    {
                                        "fvRsBDSubnetToProfile": {
                                            "attributes": {
                                                "tnL3extOutName": "GOLF-{{ Alias }}-L3-Out",
                                                "tnRtctrlProfileName": ""
                                            }
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "fvRsCtx": {
                                "attributes": {
                                    "tnFvCtxName": "{{ Alias }}"
                                }
                            } 
                        },
                        {
                            "fvRsBdToEpRet": {
                                "attributes": {
                                    "resolveAct": "resolve"
                                }
                            }
                        },
                        {
                            "fvRsBDToOut": {
                                "attributes": {
                                    "tnL3extOutName": "GOLF-{{ Alias }}-L3-Out"
                                } 
                            }
                        },
            {
                "fvAp": {
                    "attributes": {
                        "name": "APP{{ AppID }}_LS_{{ Subnet }}-AP",
                        "prio": "unspecified"
                    },
                    "children": [
                        {
                            "fvAEPg": {
                                "attributes": { 
                                "isAttrBasedEPg": "no",
                                "matchT": "AtleastOne",                                 
                                "name": "APP{{ AppID }}_{{ Tier }}_Vlan{{ Vlan }}-EPG",
                                "nameAlias": "{{ Subnet }}",
                                "pcEnfPref": "unenforced",
                                "prefGrMemb": "exclude",
                                "prio": "unspecified"                             
                                },
                                "children": [
                                    {
                                        "fvRsBd": {
                                            "attributes": {
                                                "tnFvBDName": "APP{{ AppID }}_{{ Tier }}_Vlan{{ Vlan }}-BD"
                                            }
                                        }                                                   
                                    },
                                    {
                                        "fvRsCons": {
                                            "attributes": {
                                                "prio": "unspecified",
                                                "tnVzBrCPName": "Wan-Permit-All"                                                        
                                            }
                                        }                           
                                    },
                                    {
                                        "fvRsProv": {
                                            "attributes": {
                                                "matchT": "AtleastOne",
                                                "prio": "unspecified",
                                                "tnVzBrCPName": "Wan-Permit-All"
                                            }
                                        }
                                    },
                                    {
                                        "fvRsDomAtt": {
                                            "attributes": {
                                                "classPref": "encap",
                                                "encap": "unknown",
                                                "encapMode": "auto",
                                                "epgCosPref": "disabled",
                                                "instrImedcy": "lazy",
                                                "tDn": "uni/phys-Comp-PhyDom",
                                                "netflowDir": "both",
                                                "netflowPref": "disabled",
                                                "resImedcy": "immediate"
                                            }
                                        }
                                    }
                                ]                                            
                            }
                        }
                    ]
                }
                        }
                    ]
                }
            }
        ]
    }
}